# What is Python?

Python is a high-level, interpreted programming language known for its simplicity and readability. It was created by Guido van Rossum and first released in 1991. Python supports multiple programming paradigms, including procedural, object-oriented, and functional programming styles.

### Here are some key features and uses of Python:

1. **Simple and Readable Syntax**: Python has a clean and easy-to-understand syntax, which makes it accessible for beginners and experienced programmers alike. It emphasizes readability, reducing the cost of program maintenance and development.

2. **Versatility**: Python is a versatile language used in various domains such as web development, data analysis, artificial intelligence, machine learning, scientific computing, automation, and more. Its extensive standard library provides support for many common tasks and protocols.

3. **Large Ecosystem**: Python has a rich ecosystem with a wide range of libraries and frameworks that facilitate development across different domains. For example, Django and Flask are popular frameworks for web development, while NumPy and pandas are widely used for data analysis and manipulation.

4. **Interpreted and Interactive**: Python is an interpreted language, meaning that code is executed line by line. This makes it suitable for rapid prototyping and testing. Additionally, Python supports interactive mode, allowing users to execute code interactively and get immediate feedback.

5. **Cross-platform**: Python is available on multiple platforms, including Windows, macOS, and Linux. This ensures that code written in Python can be run on different operating systems without modification.

6. **Community and Support**: Python has a large and active community of developers who contribute to its development, share knowledge, and provide support through forums, mailing lists, and other channels. This vibrant community contributes to the continuous improvement and evolution of the language.

7. **Open Source**: Python is open-source software, which means that its source code is freely available and can be modified and distributed by anyone. This fosters collaboration and innovation within the Python community.

Overall, Python's simplicity, versatility, and strong community support make it a popular choice for a wide range of programming tasks, from simple scripting to complex software development projects.

# 1. Python Output

In [2]:
print('Hello World')

Hello World

In [3]:
# Python is a case sensitive language
print('Hello World')

Hello World

In [4]:
print('Pakistan')

Pakistan

In [5]:
print(pakistan)

NameError: name 'pakistan' is not defined

In [6]:
print(7)

7

In [10]:
print(34+5)

39

In [8]:
print('34+5')

34+5

In [11]:
print(7.7)

7.7

In [12]:
print(True)

True

In [13]:
print('Hello',1,4.5,True)

Hello 1 4.5 True

In [18]:
print('Hello',1,4.5,True , sep='!')

Hello!1!4.5!True

In [19]:
print('hello')
print('world')

hello
world

In [25]:
print('hello',end='-')
print('world', end='-')
print("Pakistan")

hello-world-Pakistan

# 2. Data Types

In [28]:
# Integer
print(8)
# 1*10^308
print(1e309)

8
inf

In [31]:
# Decimal/Float
print(8.55)
print(1.7e309)

8.55
inf

In [32]:
# Boolean
print(True)
print(False)

True
False

In [33]:
# Text/String
print('Hello World')

Hello World

In [34]:
# complex
print(5+6j)

(5+6j)

In [36]:
# List-> C-> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [37]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [38]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [44]:
# Dictionary
print({'name':'Kaleem','gender':'Male','weight':70})

{'name': 'Kaleem', 'gender': 'Male', 'weight': 70}

In [40]:
# type
type([1,2,3])

list

In [41]:
type("Pakistan")

str

In [42]:
type({'name':'Kaleem','gender':'Male','weight':70})

dict

# 3. Operators
- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [45]:
print(5/2)

2.5

In [46]:
print(5//2)

2

In [47]:
# Arithmetric Operators
print(5+6)     # Addidtion
print(5-6)     # Subtraction
print(5*6)     # Multiplication
print(5/2)     # Division (After divion give float)
print(5//2)    # Floor Division (After division give integer)
print(5%2)     # Modulo
print(5**2)    # Exponent

11
-1
30
2.5
2
1
25

In [48]:
# Relational Operators
print(4>5)   # Greater than
print(4<5)   # Less than
print(4>=4)  # Greater than or equal
print(4<=4)  # Less than or equal
print(4==4)  # Equal
print(4!=4)  # Not Equal

False
True
True
True
True
False

In [49]:
# Logical Operators
print(1 and 0)
print(1 or 0)
print(not 1)

0
1
False

In [52]:
# Bitwise Operators

# bitwise and
print(2 & 3)  # Give the value after solving it in binary
# bitwise or
print(2 | 3)
# # bitwise xor
print(2 ^ 3) # xor me jab same hoga to 0 and jab different hoga to 1

2
3
1

In [56]:
# Assignment Operators
# =
a = 3
# # a = a + 2
a *= 2
print(a)

6

In [57]:
# Membership Operators

# in/not in
print('L' not in 'Lahore')
print(1 in [2,3,4,5,6])

False
False

# 4. Variables

In [ ]:
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# stylish declaration techniques

In [59]:
# C/C++
name = 'kaleem'
print(name)

a = 5
b = 6
a = 7
print(a + b)

kaleem
13

In [ ]:
# Dynamic Typing
a = 5
# Static Typing
# int a = 5

In [ ]:
# Dynamic Binding
a = 5
print(a)
a = 'kaleem'
print(a)

# Static Binding
# int a = 5

In [60]:
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [61]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [62]:
a=b=c= 5
print(a,b,c)

5 5 5

#### **Pros of variable**
1. It reduces the human effort.
2. Easy to write for long datasets.
3. Easy to recall.

#### **Examples of variable naming conventions:**
1. Only those jo python ki apni zuban main nahi hyn\
**Reserved words in Python:**\
False      class      finally    is         return\
None       continue   for        lambda     tr\
True       def        from       nonlocal   while\
and        del        global     not        with\
as         elif       if         or         yield\
assert     else       import     pass\
break      except     in         raise

2. Use underscores instead of spaces\
variable_name = "example"
3. Avoid capitalizing variable names\
variable_name = "example"
4. Use short words (maximum 2) for variable names\
x = 10,
y = "hello"
5. Avoid using special characters in variable names\
variable_name = "example"
6. Avoid starting variable names with numbers\
variable_name = "example"     
1. Avoid using special characters in variable names\
variable_name = "example"
1. Meaningful
2. Global trends (df=dataframe)
3.  Don't ever repeat the same variable (pehly wala update ho jana he)
4.  Don't use operators (+.-,*,/,**)\
x = 2+3+9-9*12*(2/3)

# 5. Keywords
Keywords in Python are reserved words that have special meaning and are used to define the syntax and structure of the language. These keywords cannot be used as identifiers (such as variable names or function names) because they have predefined meanings within the language.

Here are some examples of Python keywords:

if, else, elif: Used for conditional statements.\
while, for: Used for loops.\
def, return: Used for defining functions and returning values.\
class, self: Used for defining classes and referring to instance variables.\
import, from, as: Used for importing modules and renaming identifiers.\
try, except, finally: Used for exception handling.\
and, or, not: Used for logical operations.\
True, False, None: Used for boolean values and null objects.

# 6. String Operations
Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Stings

In [63]:
s = 'hello'
s = "hello"
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [64]:
"it's raining outside"

"it's raining outside"

## Accessing Substrings from a String

In [67]:
# Positive Indexing
s = 'hello world'
print(s[6])

w

In [69]:
# Negative Indexing
s = 'hello world'
print(s[-5])

w

In [72]:
# Slicing (1 se ziada character ko extract karne ke liye)
s = 'hello world'
print(s[2:6])

llo

In [74]:
# Skip last number
s = 'hello world'
print(s[4:])

o world

In [76]:
# Skip first number
s = 'hello world'
print(s[:7])

hello w

In [77]:
# Skip both number
s = 'hello world'
print(s[:])

hello world

In [81]:
# Step Size
s = 'hello world'
print(s[0:8:3])

hlw

In [83]:
# Negative Step Size
s = 'hello world'
print(s[6:0:-2])

wol

In [85]:
# Reverse the string
s = 'hello world'
print(s[::-1])

dlrow olleh

In [87]:
# Reverse Negative Slicing
s = 'hello world'
print(s[-1:-6:-2])

drw

## Editing and Deleting in Strings

In [88]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable (change ni ho sakta)

TypeError: 'str' object does not support item assignment

In [89]:
s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

In [90]:
s = 'hello world'
del s[-1:-5:2]
print(s)

TypeError: 'str' object does not support item deletion

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [94]:
print('Lahore' + ' ' + 'Karachi')

Lahore Karachi

In [100]:
print('Lahore'*5)

LahoreLahoreLahoreLahoreLahore

In [102]:
'lahore' == 'Lahore'

False

In [103]:
'Karachi' > 'karachi'
# lexiographically (compare through character ASCII)

False

In [105]:
'hello' and 'world'

'world'

In [107]:
'world' and 'hello'

'hello'

In [106]:
'hello' or 'world'

'hello'

In [109]:
'' and 'world'

''

In [110]:
'' or 'world'

'world'

In [111]:
'hello' or 'world'

'hello'

In [112]:
not 'hello'

False

In [113]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [114]:
for i in 'lahore':
  print('karachi')

karachi
karachi
karachi
karachi
karachi
karachi

In [ ]:
'L' in 'Lahore'

## Common Functions
- len
- max
- min
- sorted

In [115]:
len('hello world')

11

In [116]:
max('hello world')

'w'

In [118]:
min('hello world')

' '

In [125]:
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Capitalize
- Title
- Upper
- Lower
- Swapcase

In [127]:
s = 'hello world'
print(s.capitalize())

Hello world

In [128]:
s.title()

'Hello World'

In [129]:
s.upper()

'HELLO WORLD'

In [130]:
'Hello Wolrd'.lower()

'hello wolrd'

In [131]:
'HeLlO WorLD'.swapcase()

'hElLo wORld'

## Split/Join

In [138]:
'hi my name is kaleem'.split()

['hi', 'my', 'name', 'is', 'kaleem']

In [145]:
" / ".join(['hi', 'my', 'name', 'is', 'kaleem'])

'hi / my / name / is / kaleem'

## Strip

In [11]:
# To remove space between the words
'kaleem                                     '.strip()

'kaleem'

In [148]:
'Hello    World     '.strip()

'Hello    World'

## Replace

In [149]:
'hi my name is kaleem'.replace('kaleem','EDU')

'hi my name is EDU'

# 7. Input

In [151]:
input('Enter email')

'kaleem@gmail.com'

In [157]:
# take input from users and store them in a variable
num1 = int(input('enter first number'))
num2 = int(input('enter second number'))

# add the 2 variables
result = num1 + num2
# print the result
print(result)
print(type(num1))

130
<class 'int'>

# 8. Type Casting (Conversion)

In [158]:
# Implicit Vs Explicit
#Implicit
print(5+5.6)
print(type(5),type(5.6))

print(4 + '4')

10.6
<class 'int'> <class 'float'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [161]:
# Explicit
# str -> int
#int(4+5j)

# int to str
str(5)

# float
float(4)

4.0

# 9. Comments

In [ ]:
# this is a comment
# second line
a = 4
b = 6 # like this
# second comment
print(a+b)